
body {
    position: relative;
    padding-left: 15%; 
}
a .card-img-top:hover {
    opacity: 0.5;
}
.container-md.my-5 {
    padding-top: 50px; margin-bottom: 10%;
}
#contact_section a, #contact_section a:hover {
    color: teal;
}
#side-bar {
    height: 100%;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: auto;
    font-size: x-large;
}
h4.m-4 {
    border-bottom: 1px solid #ddd;
}
.navbar-brand {
    font-size: xx-large;
}

.nav-pills .nav-link.active {
    background-color: teal;
}
@media screen and (max-width:576px) {
    #side-bar {
        height: auto;
        width: 100%;
        position: fixed;
        font-size: larger;
    } 
    #side-bar a {
        float: left;
    }
    .navbar-brand {
        font-size: x-large;
    }
    body {
        padding: 10% 0 0 0;
        text-align:center;
    }
    h1 {
        text-align: center;
    }
    #about_section {
        align-items: center;
    }
    #about_card {
        margin:0;
    }
    #contact_card {
        max-width: 100%;
    }
}